.header {
    display: flex;
    justify-content: center;
    background: no-repeat center url("../../images/header-content.jpg" );
    background-size: contain;
    width: 100%;
}

/*@media (min-width: 1601px) {*/
/*    .header{*/
/*    background-size: contain;*/
/*    }*/
/*}*/
